@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #080b0f;
  font-family: 'Montserrat', sans-serif;
}

/* Style the header */
header {
  width: 70%;
  margin: auto;
  padding: 1px;
  text-align: center;
  color: #FFFFFFE6;
  overflow: hidden;
}

.circulo{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 4%;
  border-radius: 50%;
  background: #3c424e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #080b0f, #1e2831, #3c424e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #080b0f, #1e2831, #3c424e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h2{
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 210%;
  letter-spacing: 8px;
  text-shadow: 0 0 10px black;
}

header p{
  margin-top: 0;
  font-size: 18px;
  color: #FFFFFFB8;
  line-height: 1.6em;
}

.contenedor{
  width: 80%;
  margin: auto;
  margin-top: 1%;
  overflow: hidden;
  letter-spacing: 4px;
  text-shadow: 0 0 10px black;
}

hr{
  width: 48%;
  margin:auto;
  border: none;
  border-top: 0.1px solid #FFFFFFB8;
}

/* Container for flexboxes */
section {
  width: 60%;
  margin: auto;
}

.contenedor2{
  width: 80%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  overflow: hidden;
}

.contenedor2 p{
  font-size: 18px;
  color: #FFFFFFB8;
  margin-top: 0;
  margin-bottom: 0;
}

.contenedor2 a{
  font-size: 22px;
  color: #FFFFFFE6;
  text-decoration: none;
}

.contenedor2 a:hover{
  opacity: 0.8;
}

/* Style the footer */
footer {
  padding: 5px;
  text-align: center;
  color: white;
}

footer p{
  font-size: 14px;
  color: #FFFFFFB8;
}

@media (max-width: 500px){
  hr{
    width: 72%;
  }
  section {
    width: 90%;
  }
  .contenedor2{
    margin-top: 8%;
    margin-bottom: 8%;
  }
}